.card {
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 370px;
    text-align: center;
  }
  
  .card h1{
    color: #42150c;
    font-size: 26px;
  }

  .sld{
    width: 370px;
  }
  .card p{
    color: #42150c;
  }
  .card .title {
    color: grey;
    font-size: 18px;
  }
  
  .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #69140e;
    background-image: linear-gradient(349deg, #69140e -22%, #d58936 74%);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    opacity: 0.9;
    position: relative;
    bottom: 0;
  }
  
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .card button:hover, .card a:hover {
    opacity: 1;
  }